{% if latest_users_list %}
    <ul>
    {% for user in latest_users_list %}
        <li><a href="/users/{{ user.id }}/">{{ user.last_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users are available.</p>
{% endif %}
